@import-normalize; /* bring in normalize.css styles */

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: 0;
  padding: 8px;
  font-family: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding: 24px;
  background-color: rgb(242, 239, 234);
  text-align: center;
}

/* .main-container {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  padding-bottom: 24px;
} */
